<h1>welcome index </h1>
<%= link_to "createOne and then find all and show up",system_createUser_path %><br>
<%= link_to "show user list",controller: "system" %></br>
<%= link_to "show user list by index path",system_login_path %>