<h1>user the last one</h1>
<style>
    tr td {
        border: 1px solid #0093ff;
        width: 100px;
        text-align: right;
    }
</style>
<script>
    $(function () {
        $('#head>td').css({color: 'red', background: '#6BDFFF'})
    })
</script>
<table>
  <colgroup>
    <col>
    <col>
    <col>
    <col>
  </colgroup>
  <tr id="head">
    <td>id</td>
    <td>name</td>
    <td>age</td>
    <td>password</td>
  </tr>
  <tr>
    <td><%= @user.id %></td>
    <td><%= @user.name %></td>
    <td><%= @user.age %></td>
    <td><%= @user.password %></td>
  </tr>
</table>
